html,
body,
#app {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-color: #333333;
    // 下一步完成SCSS主题配置

    // &[theme='dark'] {
    //     background-color: $dark_BG;
    //     --font-color: rgba($dark_FONT);
    // }

    // &[theme='light'] {
    //     background-color: $light_BG;
    //     --font-color: rgba($light_FONT);
    // }
}

* {
    box-sizing: border-box;
}